<!DOCTYPE html>
<html>
	<meta charset = 'utf-8'>
	<meta name = 'viewport' content = 'width=device-width', initial-scale=1'>
	<head>
		<link rel='stylesheet' href=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
		<link rel='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'>
		 <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet"> 
		<style>

	
#main {
	background-color: #f7f9f7;
	border-style: solid;
	border-color: #000;
	border-width: 2px;
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
}
body {
	background-color: #bed6ca;
	font-family: 'Permanent Marker';
	text-align: center;
}

		</style>	

		<div class = 'btn-group'> {#now if I could only get this btn-group class to work#}
			<a href = 'six'><button class = 'btn btn-secondary'>six</button></a>
			<a href = 'eight'><button class = 'btn'>eight</button></a>
			<a href = 'ten'><button class = 'btn'>ten</button></a>		
			<a href = 'twelve'><button class = 'btn'>twelve</button></a>
			<a href = 'twenty'><button class = 'btn'>twenty</button></a>

		</div>
		<div class='center-block ' id='main'>
			<title>{{ die_type|title }}</title> {# the |title filter makes it in title-case #}
			<h1>Rolling a(n) {{ die_type|title }} Die</h1>
			<h3>You rolled: {{ num }}</h3>
		</div>
	</head>
	<body>
	</body>
</html>

